#nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: $light-blue-green;

	.fa {
		color: $white;
		position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
	}
}