.comment-link-container {
	margin-bottom: 15px;
}

.comment-link {
	color: $light-blue-green;
}

.comment-preview {
	color: #9B9B9B;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 85%;
  margin: 0 auto;
  transform: translateX(-50%);

	a {
		color: $dark-gray;
	}

	.comment-preview-item {
		margin-top: 10px;
	}

	&.all {
		bottom: -90px;

		.swipe-up {
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

.comment-item {
	border-bottom: 1px solid $gray;
	color: $dark-gray;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;

	div:last-child {
		padding-left: 20px;
	}
}

.username {
	font-family: "Proxima Nova Bold";
	color: black;
	font-weight: bold;
}

.comment-button {
	color: $light-blue-green;
	text-align: center;
	border: 2px solid $light-blue-green;
	border-radius: 25px;
	padding: 10px 0;
	font-size: 20px;
	position: absolute;
	bottom: 10px;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}