<div id="perspective-show">
	<h1 class="title">Story: <%= @perspective.name.capitalize %></h1>
	<% case @perspective.name
		when "girls" %>
			<div class="story-time">Friday 10:46 PM</div>
		<% when "guys" %>
			<div class="story-time">Monday 7:19 PM</div>
		<% when "other" %>
			<div class="story-time">Thursday 3:21 PM</div>
		<% when "parents" %>
			<div class="story-time">Tuesday 11:21 AM</div>
	<% end %>
	<% @perspective.stories.each do |story| %>
		<% story.story_texts.each do |text| %>
			<div class="text-msg"><%=raw sanitize(simple_format(text.body), tags: %w(br p) ) %></div>
		<% end %>
		<%= story.comments.length %>
		<%= link_to "Comments", story_comments_path(story) %>
	<% end %>
</div>