<% content_for :title, "Story: #{@perspective.name.capitalize}" %>
<div class="content-wrap">
	<div id="perspective-show">
		<% case @perspective.name
			when "girls" %>
				<div class="story-time">Friday 10:46 PM</div>
			<% when "guys" %>
				<div class="story-time">Monday 7:19 PM</div>
			<% when "other" %>
				<div class="story-time">Thursday 3:21 PM</div>
			<% when "parents" %>
				<div class="story-time">Tuesday 11:21 AM</div>
		<% end %>
		<% @perspective.stories.each do |story| %>
			<% case @perspective.name
				when "girls" %>
					<% user_names = ["pilot_tx", "seegar1549", "futureastronaut88"] %>
					<%= render partial: "/layouts/girls-story", locals: { story: story, user_names: user_names  } %>
				<% when "guys" %>
					<% user_names = ["bike_nc", "music023", "painter67"] %>
					<%= render partial: "/layouts/guys-story", locals: { story: story, user_names: user_names  } %>
				<% when "other" %>
					<% user_names = ["kandykrush", "seegar1549", "doublerainbow1155"] %>
					<%= render partial: "/layouts/other-story", locals: { story: story, user_names: user_names  } %>
				<% when "parents" %>
					<% user_names = ["kandykrush", "bike_nc", "futureastronaut88"] %>
					<%= render partial: "/layouts/parents-story", locals: { story: story, user_names: user_names  } %>
			<% end %>
		<% end %>
	</div>
</div>