<div class="comment-link-container">
	<%= link_to story_comments_path(story), class: "comment-link" do %>
		<%= fa_icon "comment-o" %><span> 3</span>
	<% end %>
</div>
<% story.story_texts.each do |text| %>
	<div class="text-msg"><%=raw sanitize(simple_format(text.body), tags: %w(br p) ) %></div>
<% end %>

<div id="comment-button">
	<%= fa_icon "comment-o" %><span> Comment</span>
</div>

